@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Nguyễn Quang Nam<br />
        2210900048<br />
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:nam31804@gmail.com">nam31804@gmail.com</a><br />
        <strong>Nam nè:</strong> <a href="mailto:nam31804@gmail.com">nam31804@gmail.com</a>
    </address>
</main>